body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #111317;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 30px;
}
h2{
    color: #f9ac54;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Only 3 cards per row */
  gap: 30px;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  background:  #f9ac54;
  border: 2px solid #2c3e50;
  padding: 40px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #2c3e50;
  font-weight: 500;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  background-color: #d79447;
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px 25px;
  background-color: #f9ac54;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #d79447;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
